body{
  font-family: 'Poppins', sans-serif;
}


html{
  scroll-behavior:smooth;
}
.topnav {
  background-color:#1D0862;
  width:100%;
  box-shadow:0px 3px 6px #3c3c431A;
  height:60px;
}

/* Style the links inside the navigation bar */
.topnav .dropdown {
  float: left;
  color: #f2f2f2 !important;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  margin-top:15px;
  font-family: 'Poppins', sans-serif;

}

.topnav .dropdown .dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
.topnav2 .dropdown .dropbtn {
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.topnav3 .dropdown .dropbtn {
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
}


.topnav .dropdown .dropbtn:hover{
  border-bottom:solid 3px white;
  color:white;
  text-decoration:none;
  cursor:pointer;
}




.topnav2 {
  background-color:#DBE9F7;
  width:100%;
  box-shadow:0px 3px 6px #3c3c431A;
  height:60px;
}

/* Style the links inside the navigation bar */
.topnav2 .dropdown {
  float: left;
  color: black !important;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  margin-top:15px;
  font-family: 'Poppins', sans-serif;

}


.topnav3 {
  background-color:white;
  width:100%;
  box-shadow:0px 3px 6px #3c3c431A;
  height:60px;
}

/* Style the links inside the navigation bar */
.topnav3 .dropdown {
  float: left;
  color: black !important;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  margin-top:15px;
  font-family: 'Poppins', sans-serif;

}


#links{
  float:right;
}

#login{
  background-color:#ED2f59;
  padding:5px 14px 5px 14px !important;
  border-radius:5px;
margin-right:20px;
margin-left:30px;

  }







.topnav2 .dropdown .dropbtn:hover{
    border-bottom:solid 3px black;
    color:black;
    text-decoration:none;
    cursor:pointer;
  }


  .topnav3 .dropdown .dropbtn:hover{
    border-bottom:solid 3px black;
    color:black;
    text-decoration:none;
    cursor:pointer;

  }
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: fixed;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 1150px !important;
    height:390px !important;
    right:15px;
    margin-left:25% !important;
    border-radius:10px;
    padding-bottom:100px;
    top:58px !important;
    font-family: 'Poppins', sans-serif;


  }
.dropdown-content h6{
  color:purple;
  font-weight:bolder;
  font-family: 'Poppins', sans-serif;

}
.dropdown-content p{
  color:black;
font-size:12px;
text-align:left;
font-weight:bold;
}


  /* Links inside the dropdown */
  .dropdown-content a {
    color: rgb(16, 16, 73) !important;
    text-decoration: none;
    margin-top:15px;
    display: block;
    font-size:12px;
  }

  .dropdown-content ul li a:hover{
    color:red !important;
    background-color:inherit !important;
  }
.dropdown-content li{
  font-size:12px !important;
text-align:left;
color:black;
cursor:pointer;
}
  /* Change color of dropdown links on hover */
  a.hover:hover {
    background-color: #c9b9f9 !important;
    border-radius:5px !important;
    text-decoration:none !important;

  }

  a.hover{
    padding:8px;
margin-top:-3px;
  }
  a.hover a:hover{
    text-decoration:none !important;

  }
  .arrow{
visibility:hidden;
color:purple;
font-size:18px;
  }

  a.hover:hover .arrow{
visibility:visible !important;
  }


  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
    animation: fadein 1s;
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
    -o-animation: fadein 1s;
    -ms-animation: fadein 1s;
     height:250px;
     opacity:1;

 }
 @keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}




#mainbg{
  height:850px;
background-image:url(../img/bgmain.png);
background-size:cover;
color:white;
margin-bottom:50px;

background-position:center center;
}

#mainbg h2{
  font-family: 'Poppins', sans-serif;
  margin-bottom:20px;
  padding-left:50px;
  margin-top:200px;

}

#mainbg p{
  font-family: 'Poppins', sans-serif;
font-size:14px;
  padding-left:50px;
}
.deploy-btn{
  background-color:#ED2f59 !important;

  padding-left:40px !important;
  padding-right: 40px !important;
  font-size:12px !important;
  font-weight:bold !important;
  padding-top:12px !important;
  padding-bottom:12px !important;

  border-radius:8px !important;
  font-family: 'Poppins', sans-serif;

}
.btn-light{
  font-family: 'Poppins', sans-serif;
  font-size:12px !important;
  font-weight:bold !important;
  padding-top:12px !important;
  border-radius:8px !important;

}

#main-form{
  height:700px;
  margin-top:100px !important;
  /* background-color: rgba(94,68,106, 0.9); */
  background-color:rgba(255, 255, 255, 0.3);
  border-radius:10px;
  right:40px;
  padding:20px;
  box-shadow:0px 0px 1px 1px white;

}





#video{
  height:500px;
  margin-bottom:30px;
  background-color:#C7C7C7;
  display:flex;
  padding-top:200px;
  padding-left:37%;
}

.vid{
text-align:center;
}
.vid h2{
  font-family: 'Poppins', sans-serif;
}
.vid p{
  font-weight:bold;
  margin-top:20px;
}
.box{
  height:300px;
  border:solid 1px #E3E2E4;
  border-radius:10px;

}
.box:hover{
  box-shadow: 0px 0px 10px 2px #505050;
}
.box img{
  height:50px;
  margin-bottom:20px;
  margin-top:25px;
}
.box h6{
font-weight:bolder;
}
#help{
  color: #191919;
text-align:center;
margin-top:30px;
margin-left:10px;
}
#help p{
  font-size:13px;
}
#help h3{
  font-weight:bolder;
}
.box2{
  height:190px;
  border:solid 1px #ECEBEC;
  margin:10px;
  border-radius:5px;


}
.box2 img{
  margin-top:35%;
  margin-bottom:15px;
  padding-left:20% !important;
}
.box2 h6{
  font-weight:bolder;
  text-align:center;
}
.box22 {
  height:190px;
  border:solid 1px #E8E8E8;
  margin:10px;
  border-radius:5px;
  padding:60px;
  padding-left:40px ;

}
.box22 a{
  color:red ;

}

.box22 a:hover{
  background-color:pink;
  border-radius:100%;
  border:solid 1px pink;
  height:100px;
  color:red !important;
  text-decoration:none;
  padding:10px  ;
  padding-left:10px ;
  padding-right:10px;
}


.b1:hover{
  border-color:#F676BB;
  box-shadow: 0px 0px 1px 1px #F676BB;

}


.b3:hover{
  border-color:#73bd73;
  box-shadow: 0px 0px 1px 1px #73bd73;

}

.b4:hover{
  border-color:#9ACCE4;
  box-shadow: 0px 0px 1px 1px #9ACCE4;

}



.b5:hover{
  border-color:#7569A0;
  box-shadow: 0px 0px 1px 1px #7569A0;

}

.b6:hover{
  border-color:#C777EB;
  box-shadow: 0px 0px 1px 1px #C777EB;

}


.b7:hover{
  border-color:#777777;
  box-shadow: 0px 0px 1px 1px #777777;

}


.b8:hover{
  border-color:#7D9587;
  box-shadow: 0px 0px 1px 1px #7D9587;

}


.b9:hover{
  border-color:#F09B5D;

  box-shadow: 0px 0px 1px 1px #F676BB;

}

.b10:hover{
  border-color:#4864D6;

  box-shadow: 0px 0px 1px 1px #4864D6;

}

.b11:hover{
  border-color:#B8D9FD;

  box-shadow: 0px 0px 1px 1px #B8D9FD;

}

.b12:hover{
  border-color:#F75D9E;

  box-shadow: 0px 0px 1px 1px #F75D9E;

}

.b13:hover{
  border-color:#8ACBEB;
  box-shadow: 0px 0px 1px 1px#8ACBEB;

}

.b14:hover{
  border-color:#D697F1;
  box-shadow: 0px 0px 1px 1px #D697F1;

}
.b15:hover{
  border-color:#F15D5D;
  box-shadow: 0px 0px 1px 1px #F15D5D;


}

.b16:hover{
  border-color:#9E8C9E;
  box-shadow: 0px 0px 1px 1px #9E8C9E;

}
.b17:hover{
  border-color:#F85A94;
  box-shadow: 0px 0px 1px 1px #F85A94;


}

.b18:hover{
  border-color:#E8E8E8;
  box-shadow: 0px 0px 1px 1px #E8E8E8;

}
#option h1{
  margin-top:100px;
text-align:center;
font-family: 'Poppins', sans-serif;
margin-bottom:30px;

}
#option p{
  font-weight:bolder;
  text-align:center;
  font-size:larger;
  margin-bottom:60px;

  }


#stories h3{
font-weight:bolder;
margin-top:60px;
}
#stories p{
  font-weight:bolder;
}

.slideshow-container {
  width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
 .mySlides {
  display: none;
}


 .dot {
  cursor: pointer;
  height: 5px !important;
  width: 25px !important;
  margin: 0 2px;
  display: inline-block !important;
  transition: 0.6s ease;
  background-color :pink !important;
  border-radius:2px;
}

.active1, .dot:hover {
  background-color:red !important;
}

.faded {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}







#dash{
  text-align:center !important;
}
#dash h2{
  font-weight:bolder;
}
#dash h3{
  font-weight:lighter;
  color:grey;
}
.icon {
  border-right:solid 1px grey;
}
#resources h1{
  margin-top:100px;
font-weight:bolder;
text-align:center;


}
#resources p{
  font-weight:bolder;
  text-align:center;
  font-size:medium;
  }

.resources{
height:440px;
border:solid 2px rgb(191, 187, 187);
border-radius:5px;
padding-top:15px;

}
.resources p{
  font-size:12px;

}
.resources span{
  font-size:small;
  font-style:italic;
}
.resources:hover{
  box-shadow: 0px 0px 2px 2px rgb(191, 187, 187);

}
.resources img{
  border-radius:5px;
}

.pic{
  border:solid 1px grey;
  background-color:grey;
  width:100%;
  height:150px;
  border-radius:5px
}

#migrate{
  height:320px;
  background-image:url(../img/bg1.png);
  background-size:cover;
  background-position:center center;
  margin-top:50px;
  margin-bottom:50px;
  color:white;
  padding-top:50px;

}





.accordion {
  background-color: white;
  color: #444;
  cursor: pointer;
  padding: 25px;
  width: 100%;
  text-align: left;
  border: solid 1px #EAEAEB;
  outline: none;
  transition: 0.4s;
  box-shadow:1px 1px 1px 1px #F2F2F2;
  font-family: 'Poppins', sans-serif;
  font-weight:bold;
  font-size:18px;
  box-shadow:0px 0px 2px 2px rgb(221, 219, 219);

}

.accordion p{
  font-family: 'Poppins', sans-serif;
  font-weight:bold;
}


.acc{
  border-top-right-radius:10px !important;
  border-top-left-radius:10px !important;

}
.acc2{
  border-bottom-right-radius:10px !important;
  border-bottom-left-radius:10px !important;

}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */


/* Style the accordion panel. Note: hidden by default */
.panel {

    padding: 0 18px ;
    background-color: #F5F4F4;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;

}

.accordion:after {
  content: ''; /* Unicode character for "play" sign (+) */
  font-size: 13px;
  color: #777 !important;
  float: right !important;
  margin-left: 5px;
}

.active:after {
  content: ""; /* Unicode character for "minus" sign (-) */
}


#partners{
  margin-top:80px;
  margin-bottom:50px;
}

#dale{
  height:400px;
  background-color:#ED4659;
  border-radius:40px;
  margin-right:-120px;
  position:relative;
  z-index:2;
  padding:20px;
  text-align:center;
  color:white;
  font-size:13px;

}

#dale img{
  margin-top:-80px;
}

#lbs{
  height:400px;
  background-color:#345376;
  border-radius:40px;
  margin-right:-120px;
  position:relative;
  z-index:2;
  padding:20px;
  text-align:center;
  color:white;
  font-size:13px;

}

#lbs img{
  margin-top:-80px;
}

#imad{
  height:400px;
  background-color:#1D0862;
  border-radius:40px;
  margin-right:-120px;
  position:relative;
  z-index:2;
  padding:30px;
  text-align:center;
  color:white;
  font-size:13px;

}

#imad img{
  margin-top:-80px;
}


#gregory{
  height:400px;
  background-color:#212B62;
  border-radius:40px;
  margin-right:-120px;
  position:relative;
  z-index:2;
  padding:10px;
  text-align:center;
  color:white;
  font-size:13px;

}

#gregory img{
  margin-top:-80px;
}

#report{
  height:500px;
text-align:center;
padding-top:120px;
background-image:url(../img/accountsbg.svg);
background-size:cover;
font-weight:bolder;

}







#report h1{
  font-weight:bolder;
  }
#report p{
  margin-top:30px;
  font-size:14px;
}


#center h2{
  text-align:center;
  font-weight:bolder !important;
}


#center p{
  text-align:center;
  font-weight:bolder !important;
}



.tab {
  overflow: hidden;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  border-right: 2px solid #ccc;

}
.tabcontent h4{
  margin-top:60px;
  font-weight:bolder;
}
/* Change background color of buttons on hover */
/* .tab button:hover {
  background-color: #ddd;
} */

/* Create an active/current tablink class */
.tab button.active2 {
border-bottom:solid 3px black;
font-weight:bolder;
}

/* Style the tab content */
.tabcontent {
  display: none ;
  padding: 6px 12px;
  border-top: none;

}


#mig{
  background-color:rgb(247, 240, 240);
  text-align:center;
  padding-top:90px;
padding-bottom:90px;
margin-bottom:50px;
}

#mig h1{
  font-weight:bold;
}
#mig p{
  font-weight:bold;
  font-size:25px;
  margin-top:40px;
}

#overview{
  height:500px;
  background-image:url(../img/children.png);
  background-size:cover;
  margin-top:80px;
  padding-top:80px;
  font-family: 'Poppins', sans-serif;
  margin-bottom:80px;

}
#overview h2{
  font-weight:bold;
  font-family: 'Poppins', sans-serif;

}

#overview h6{
  font-weight:bolder;
  font-family: 'Poppins', sans-serif;
  margin-bottom:30px;
  margin-top:20px;

}


#mobile{
  height:450px;
  margin-top:50px;

background-color:#212B62;
  background-image:url(../img/appbg.png);
  background-size:cover;
  margin-bottom:60px;

}
#flowers{
  height:300px;
  margin-top:50px;
  background-image:url(../img/flowersbg.png);
  background-size:cover;
  margin-bottom:60px;
  padding-top:100px;

}
#flowers h2{
  font-family: 'Poppins', sans-serif;

}

#steps{
  height:500px;
  width:100%;
  background-image:url(../img/steps.png);
  background-size:cover;
  background-repeat:no-repeat;
  font-family: 'Poppins', sans-serif;
  color:white;

}
#steps h1{
  font-family: 'Poppins', sans-serif;
margin-top:150px;
margin-left:40px;
}

#steps p{
  margin-top:30px;
  margin-left:40px;
}

#sales-team h4{
  margin-top:180px;
  font-family: 'Poppins', sans-serif;
margin-bottom:30px;
}

#sales-team p{
  font-family: 'Poppins', sans-serif;
  font-size:15px;

}
#sales-team img{
  margin-top:100px;
  margin-bottom:80px;

}
#impact{
  margin-top:150px;
  margin-bottom:60px;
}



#impact h3{
  font-family: 'Poppins', sans-serif;

}
#impact p{
  font-family: 'Poppins', sans-serif;
  font-size:15px;

}

.abox{
  height:380px;
  border:solid 1px rgb(209, 207, 207);
  border-radius:10px;
  padding-top:30px;
  padding-bottom:30px;
  text-align:left;
  margin-right:45px;
  box-shadow:0px 0px 1px 1px rgb(209, 207, 207);
  margin-bottom:100px;
  margin-top:50px;

}

.abox img{
margin-bottom:30px;
}

.abox h5{
  font-family: 'Poppins', sans-serif;
  margin-bottom:20px;
  font-weight:bold;

}

.abox p{
  font-family: 'Poppins', sans-serif;
font-size:15px;
}

#edu{
  height:300px;
  background-image:url(../img/migrate-educare.png);
  background-size:cover;
  padding-top:60px;
  padding-left:50px;
  margin-top:80px;
  margin-bottom:100px;
}
#edu h3{
  font-family: 'Poppins', sans-serif;
  font-weight:bolder;

}

#edu p{
  font-family: 'Poppins', sans-serif;
font-size:15px;
margin-top:20px;
}

#leadership{
  height:300px;
  background-image:url(../img/bg4.png);
  background-size:cover;
  padding-top:60px;
  padding-left:50px;
  margin-bottom:100px;
  margin-top:60px;

}

#leadership h2{
  font-family: 'Poppins', sans-serif;
  font-weight:bolder;

}

#leadership p{
  font-family: 'Poppins', sans-serif;
font-size:15px;
margin-top:20px;
}


.team1{
  height:230px;
  border:solid 1px rgb(202, 195, 195);
  border-radius:10px;
  background-color:rgb(202, 195, 195);
  box-shadow: 0px 0px 1px 1px rgb(202, 195, 195);
  margin:20px;
  margin-bottom:90px;

}
.title h6{
  padding:12px;
  background-color:#1D0862;
  font-family: 'Poppins', sans-serif;
color:white;
border-radius:10px;
text-align:center;
margin-top:210px !important;

}
.title p{
  font-family: 'Poppins', sans-serif;
  text-align:center;
  color:grey;

}

#here{
  height:400px;
  background-image:url(../img/migrate-educare.png);
  background-size:cover;
  margin-top:100px;
  padding-top:80px;
  margin-bottom:170px;
  padding-left:40px;
  background-position:center center;

}
#here h4{
  font-family: 'Poppins', sans-serif;
font-weight:bolder
}

#here p{
  font-family: 'Poppins', sans-serif;
font-size:15px;
margin-top:30px;
}

#careers{
  text-align:center;
  margin-top:200px;
}

#careers h2, h1{
  font-family: 'Poppins', sans-serif;
margin-bottom:30px;
font-weight:bolder

}


#careers p{
  font-family: 'Poppins', sans-serif;
font-size:15px;
margin-bottom:20px;

}


#jobs{
  height:300px;
  background-color:rgb(240, 240, 240);
  border:solid 1px rgb(240, 240, 240);
  box-shadow: 0px 0px 2px 2px rgb(230, 229, 229);
  border-radius:10px;
  text-align:center;
  padding-top:60px;
  margin-left:60px;
  margin-top:60px;
  margin-bottom:60px;


}

#jobs h6{
  font-family: 'Poppins', sans-serif;
  font-weight:bolder

}


#jobs p{
  font-family: 'Poppins', sans-serif;
  font-size:12px;

}

#looking{
  height:400px;
  background-image:url(../img/migrate-educare.png);
  background-size:cover;
  margin-top:100px;
  padding-top:80px;
  margin-bottom:170px;
  padding-left:40px;
  background-position:center center;

}
#looking h4{
  font-family: 'Poppins', sans-serif;
font-weight:bolder
}

#looking p{
  font-family: 'Poppins', sans-serif;
font-size:15px;
margin-top:30px;
}


.customers{

    height:420px;
    background-color:rgb(241, 240, 240);
    border-radius:45px;
    position:relative;
    z-index:2;
    padding:20px;
    text-align:center;
    color:white;
    font-size:13px;
    box-shadow:0px 0px 2px 2px rgb(199, 197, 197);
    margin-top:120px;


  }

  .customers img{
    margin-top:-80px;
  }

.customers h4{
  font-family: 'Poppins', sans-serif;
font-weight:bolder;
color:rgb(7, 7, 61);

}
.customers p{
  font-family: 'Poppins', sans-serif;
color:black;

}

.customers2{
  text-align:center;
  background-color:#f5f2f2;
  height:350px;
  padding-top:100px;
  margin-bottom:100px;

}

.customers2 p{
  font-family: 'Poppins', sans-serif;
color:black;
font-size:12px;

}

.customers2 h4{
  font-family: 'Poppins', sans-serif;
color:black;
font-weight:bolder;


}

#pricing{
height:1010px;
background-image:url(../img/pricebg.png);
background-size:cover;
padding-top:180px;
text-align:center;

}

#pricing h2,h4{
  font-family: 'Poppins', sans-serif;
  font-weight:bolder;


}
#pricing p{
  font-family: 'Poppins', sans-serif;
  font-size:14px;
  margin-top:20px;
  margin-bottom:80px;

}

.packages{
  height:620px;
  background-color:white;
  padding-top:20px;
  border-radius:5px;

}

.packages22{
  height:840px;


}
.packages h6{
  font-family: 'Poppins', sans-serif;
  font-weight:bolder;
  text-align:left;
  margin-bottom:20px;

}

.packages ul li{
  text-align:left;
padding:7px;
font-size:14px;
font-family: 'Poppins', sans-serif;
font-weight:bolder;


}

.packages ul {
  border-bottom:solid 1px rgb(220, 218, 218);
  margin-right:20px;
  margin-left:20px;

  padding-bottom:30px;
  margin-bottom:30px;


}
.packages ul li span{

  padding-top:0px;
  padding-bottom:0px;
margin-right:4px;
  background-color:#1D0862;
  border-radius:50%;
  font-size:7px;
  color:#1D0862;
}

.ul-border{
border:solid 1px rgb(220, 218, 218);
border-radius:5px;
padding-top:30px;
box-shadow:0px 0px 1px 1px rgb(220, 218, 218);
padding-bottom:30px;
}

.packages h2{
  text-align:left;
  font-family: 'Poppins', sans-serif;
  font-weight:bolder;
  margin-left:20px

}

.packages P{
  text-align:left;
  font-family: 'Poppins', sans-serif;
  margin-left:20px;
  margin-right:20px;
  padding-bottom:30px;
  border-bottom:solid 1px rgb(220, 218, 218);

margin-bottom:30px !important;
}


#benefits h2{
  text-align:center;
  font-family: 'Poppins', sans-serif;
  font-weight:bold;
}


#benefits p{
  text-align:center;
  font-family: 'Poppins', sans-serif;
  margin-top:30px;
  margin-bottom:100px;
  font-weight:bold;

}
.benefits{
  height:75px;
  border:solid 1px grey;
  border-radius:10px;
  box-shadow:0px 0px 2px 2px rgb(196, 193, 193);
  text-align:left;
  padding-top:25px;
  font-family: 'Poppins', sans-serif;
  font-size:14px;
margin-top:40px;
}

.benefits i{
  color:green;
  font-size:20px !important;
  padding-right:10px !important;
  padding-left:10px !important;

  font-weight:Bold;

}

.benefits p{
  font-family: 'Poppins', sans-serif;

}

#questions{
  height:300px;
  background-color:#1D0862;
  background-image:url(../img/pinkbg.png);
  background-size:cover;
  margin-bottom:80px;
  text-align:left;
}

#questions h2{
  font-family: 'Poppins', sans-serif;
font-weight:bold;
color:white;
padding-top:60px;
}
#questions p{
  font-family: 'Poppins', sans-serif;
color:white;
font-size:14px;
margin-top:30px;
}













#footer{
  background-image:url(../img/bgmain2.png);
  height:580px;
  background-size:cover;
  padding-top:50px;

}


#footer ul li a{
  color:white !important;
  font-size:10px;
}
#footer h6{
  margin-bottom:20px !important;


}
#footer p{
  color:white !important;
  font-size:16px;
}